@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "vars";
@import "extends";

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $textcolor;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  height: 100%;
  background-color: #EAEAEA;
}

@import 'header';
@import 'content';
@import 'button';
@import 'articles';
@import 'login';
@import 'registration';
@import 'readarticles';
@import 'profile';
@import 'settingsProfile';
@import 'qanda';
@import 'answer';
@import 'askQuestion';
@import 'comunity';
@import 'comunityCategories';
@import 'comunityList.scss';
@import 'settingsComunity';
@import 'newAriclesComunity';
@import 'groupListUser';
@import 'addNew';